.books-model-both{
  display: flex
}
.books-model-left{
  flex: 0 0 40%;
  padding: 1rem 1rem 0 0
}
.books-model-right{
  flex: 0 0 60%
}
.popup__right {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 2rem;
  background-color: #999898;
}

.popup__icon,
.popup__icon:link,
.popup__icon:visited {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  justify-content: right
}
.popup__icon:hover {
  color: #e74c3c;
}

.inputStyle {
  padding: 24px !important;
  outline: none !important;
  font-family: "Montserrat, sans-serif";
  box-shadow: none !important;
  font-size: 16px;
}
.label{
  display: block;
  font-size: 1.1rem;
  text-align: left;
  font-weight: 600;
}
.modeltitle{
  font-size: 1.6rem;
  text-transform: uppercase;
  color: #fff
}
.option-bgimg{
  /* background-color: url("../../../assets/img_avatar.png"); */
  background-repeat: no-repeat
}
.description-text{
  resize: none !important
}