.credits {
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
  position: relative;
  min-height: 80vh;
}
.credits-total{
 flex-direction: column;
 margin-bottom: 1.5rem
}
.yourcredits{
  font-size: 24px;
  font-weight: 700;
  font-family: sans-serif;
  letter-spacing: 1px;
}
.yourtotalcredits{
  font-size: 18;
  font-family: sans-serif;
  font-weight: 600
}
.credits-section {
  width: 85%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
   display: flex;
   flex-direction: column;
}
.credits-list{
  display: flex;
  flex-direction: row;
  flex: 0 0 50%; 
  text-align: center;
  align-items: center;
  justify-content: space-around
}

.credits-container-heading {
  display: flex;
  align-items: baseline;
  padding: 1rem 2rem .5rem 2rem;
}
  @media (max-width: 900px){
    .credits-section {
      width: 95%
    }
      .credits-list{
        flex: 0 0 70%
      }
  }
  @media  (max-width: 650px){
    .credits-box{
      overflow-x: scroll
    }
  }
.credits-container-heading:not(:last-child) {
  border-bottom: .5px solid #e0e0e0
}

.credits-history-heading {
  font-size: 22px;
  font-weight: 700;
  flex: 1;
}
.credits-item-heading{
  font-size: 16px;
  width: 25%;
  font-family: sans-serif
}
.credits-container{
  display: flex;
  align-items: baseline;
  padding: 1rem 2rem 0 2rem;
  border-bottom: 1px solid #e0e0e0
}
.credits-history{
  font-size: 18px !important;
  font-weight: 500;
  flex: 1;
}
.credits-item{
  width: 25%;
  font-size: 14px
}
