.item {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  align-items: center;
}

.left {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex: 0 0 22%;
}
.image {
  width: 100%;
  border-radius: 10px;
  height: 110px;
}
.center {
  display: flex;
  flex: 1;
  flex-direction: column;
  word-wrap: break-word;
  margin-left: 2rem;
}
.title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.8);
}
.disc {
  font-size: 13px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  overflow: hidden;
  height: 20px;
  color: rgba(0, 0, 0, 0.5);
}
.del {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  cursor: pointer;
}
.right {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex: 0 0 10%;
  color: rgb(192, 57, 43);
  font-size: 25px;
}

.courseTitle {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: red;
  text-align: center;
  padding: 2rem;
}
.courseCard {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 1rem 1rem;
  margin: 0rem 2rem 0rem 1rem;
  border-bottom: 1px solid #333;
}
@media (max-width: 1000px) {
    .courseCard {
        margin: 0rem 1rem 0rem 1rem;
    }
}
@media (max-width: 600px) {
  .item {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .left {
    flex: 0 0 100%;
  }

  .center {
    display: flex;
    flex: 0 0 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
    margin-left: 0;
    padding: 0;
  }
  .right {
    flex: 0 0 100%;
  }
  .disc {
    padding-top: 1.2rem;
  }
  .image {
    width: 80%;
    margin: 0 auto
  }
}
