.center2{
  background-color: #f7f7f7;
  padding: 2rem 1rem;
}
.communities{
  background-color: #fff;
  padding: 1.5rem
}
.communities-heading{
  color: #444;
  text-transform: uppercase;
  font-size: 18px;
  font-family: cursive;
  display: block;
  line-height: 1.5;
  font-weight: bold;
  margin-bottom: 2rem;
}