.wrapperLoader{
  position: fixed;
  top: 0;
  left:0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  padding-top:calc(30vh - 100px);
  padding-left:calc(30vw - 110px);

}
.wrapperLoader > div{
  box-sizing: border-box;
}
.geniTag{
  color:#f30000;
  font-weight:700;
  word-spacing:0.2em;
  font-size:37px;
}
.btn{
  background-color: white;
  margin:10px;
  border:1px solid red;
  border-radius: 5px;
  color: black;
  font-weight: 500;
  padding: 10px;
}
.btn:hover{
  background-color: #f30000;
  color: white;
  border-color: rgba(100,100,100,0.6);
}