.cardhover:hover{
  box-shadow: 0 5px 15px rgba( 0,0 ,0 ,0.4);
  transition: all 0.3s;
}
.cardhover{
  box-shadow: 0 2px 5px rgba(0,0,0,0.2); 
}


.left-side-heading-h {
 color: #e74c3c;
  font-size: 1rem;
  word-spacing: 2px;
  font-weight: bold;
  background-color: #f4f2f2;
  padding: 1.2rem 0;
  width: 100%;
  text-align: center;
  margin-top: 1px;
  border-bottom: 1px solid #f0eeee;
  overflow: hidden;
}
.left-side-popup-button{
  color: #f7f7f7;
  font-size: 14px;
  word-spacing: 2px;
  font-weight: 600;
  background-color: #e74c3c;
  padding: 12px 0;
  width: 100%;
  text-align: center;
  margin-top: 1px;
  border-radius: 5px;
  margin-bottom: 12px;
  overflow: hidden;
  box-shadow: 0 5px 10px rgba(0,0,0,0.5);
}
.left-side-popup-button:hover{
  transform: scale(1.01);
  box-shadow: 0 6px 12px rgba(0,0,0,0.5);
  color: #f7f7f7;
 text-decoration: none 
}




