.videocard {
  display: flex;
  margin-top: 20px;
}
@media (max-width: 1000px){
    .videocard{
        flex-direction: column
    }
    .videocard-list {
        display: flex;
        flex-direction: column
    }
}
.videocard-playlist {
  flex: 0 0 25%;
  background-color: #f7f7f7;
  height: 60vh;
  overflow-y: scroll
}
.videocard-video {
  flex: 1;
  display: flex;
  padding: 3rem;
  padding-top: 1rem;
  padding-bottom: 0rem;
  flex-wrap: wrap;
}
.hiddenlist{
    background-color: #add8e66b;
    height: min-content;
    padding: .5rem 1rem;
    /* color: #fff; */
}
.videocard-header {
  display: flex;
  padding: 0.5rem 1rem;
  align-items: baseline;
}
.videocard-coursetitle {
  margin-right: auto;
}
.videocard-item {
  background-color: #add8e66b;
  padding: 1rem 1rem;
}
.videocard-title {
  margin-right: auto;
  margin-left: 1rem;
  font-size: 16px;
  font-weight: 600;
}
.videocard-count {
  border-right: 1px solid grey;
  padding: 0 10px;
}
.videocard-duration {
  padding: 0 10px;
}
.upper-align {
  display: flex;
  flex: 0 0 100%;
  align-items: baseline;
}
.bottom-align {
  display: flex;
  flex: 0 0 100%;
  font-size: 12px;
  padding: 10px 15px;
  letter-spacing: 1px;
}
.videocard-comment-section {
  padding: 1rem 0;
}
.videocard-comment {
  display: flex;
  padding: 1rem 0.5rem;
}
.videocard-comment-name {
  font-size: 16px;
  font-weight: 700;
}
.videocard-comment-disc {
  font-size: 13px;
}
.videocard-comment-input {
  text-align: center;
}
.videocard-input {
  width: 80%;
  padding: 10px 24px;
  outline: none;
  font-family: "Montserrat, sans-serif";
  box-shadow: none;
  font-size: 16px;
}
@media (max-width: 1000px) {
  .down {
    margin-right: 3rem !important;
    margin-left: 1rem;
  }
}
