.header{color: white;
     padding:0px !important;
     background-image: url('https://image.shutterstock.com/image-vector/bookshelves-full-books-both-library-600w-722590261.jpg');
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
}