/* popup */
.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 3000;
  transition: all 0.3s;
  opacity: 0;
  visibility: hidden;
}
.popup:target {
  opacity: 1;
  visibility: visible;
}
.popup:target .popup__box {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
.popup__box {
  width: 50%;
  height: 32rem;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 3px;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  display: table;
  opacity: 0;
  border-radius: 20px;
  transform: translate(-50%, -50%) scale(0.5);
  transition: all 0.4s 0.2s;
  text-align: center
}
@media (max-width: 1000px){
  .popup__box{
    width: 50%;
    height: 28rem
  }
}
@media (max-width: 600px){
  .popup__box{
    width: 75%;
    height: 28rem
  }
}
.login-card{
  
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly
}
.credit-info {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 800px){
  .credit-info {
    flex-direction: column;
  } 
}
.inputStyle {
  padding: 24px !important;
  outline: none !important;
  font-family: "Montserrat, sans-serif";
  box-shadow: none !important;
  font-size: 13px;
}
.buttons{
  display: flex;
  align-items: center;
  justify-content: center
}
.top-img{
  position: relative;
  top: -2rem;
  width: 250px;
  height: 125px;
  margin-bottom: -2rem
}
.dropdown{
  width: 50%;
  color: #fff;
  border-color: rgb(192, 57, 43);
  background-color: rgb(192, 57, 43);
  margin-right: .5rem;
  border-radius: 5px !important
}
.cvc{
  width: 50%;
}
@media (max-width:800px){
  .inputStyle {
    padding: 20px !important;
  }  
  .dropdown{
    width: 100%;
    margin-right: 0 !important;
    margin-bottom: 1rem
  }

  .cvc{
    padding: 0 !important
  }
  
}