.container-fluid{
    position: relative;
}
.form-setting{
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background-color: #f1f2f6;
}
.login-card{
    background-color: white;
    min-height: 50vh;
    padding: 35px!important;
}
.link-blue{
    cursor: pointer;
    color: #3742fa;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-decoration: none !important;
}

.link-blue:hover{
    color: #5352ed;
    text-decoration: none !important;
}

.btn-google{
    background-color: white !important;
    margin-top: 28px;
    box-shadow: 1px 1px 6px 2px rgba(0, 0, 0, 0.05), 1px 2px 10px 2px rgba(0, 0, 0, 0.04 ) !important;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 500;
}

.btn-google:hover{
    box-shadow: 1px 1px 8px 2px rgba(0, 0, 0, 0.05), 1px 2px 10px 2px rgba(0, 0, 0, 0.1 ) !important;
}

.btn-signin{
    background-color: #c0392b !important;
    margin-top: 12px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color:white !important;
}

.btn-signin:hover{
    color: white;
    background-color: #e74c3c !important;
}

@media only screen and (max-width:992px) {
    .form-setting{
        min-height: auto;
        justify-content: flex-start;
    }
}