.item{
    background-color: #f7f7f7;
    display: flex;
    margin: 2rem;
    padding: 2rem;
    align-items: center;
    border-radius: 5px 
    }

.left{
    display: flex;
    flex: 0 0 20%;
}
.image{
    width: 100%;
    border-radius: 10px;
    height: 120px;
}
.center{
    display: flex;
    flex: 0 0 70%;
    flex-direction: column;
    word-wrap: break-word;
    padding-left: 3rem
}
.title{
    font-weight: 600;
    font-size: 25px;
    color: rgba(0,0,0,0.8);
}
.disc{
    overflow: hidden;
    height: 60px;
    color: rgba(0,0,0,0.5);
}
.del {
    font-size: 20px;
    cursor: pointer;
}
.right{
    display: flex;
    flex: 0 0 10%;
    color: red;
    font-size: 25px;
    font-weight: bold;
}

@media(max-width:1000px){
    .left{
        flex: 0 0 30%
    }
    .center{
        flex: 0 0 60%
    }
}
@media(max-width:600px){
    .item{
        flex-direction: column;
        align-items: center
    }
    .left{
        flex: 0 0 100%;
    }
    
    .center{
        display: flex;
        flex: 0 0 100%;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;
        margin-top: 1rem;
        padding: 0
    }
    .right{
        flex: 0 0 100%
    }
}

