@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:600&display=swap');

body {
  margin: 0;
  font-family:'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 325px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button{
  outline: none !important;
  box-shadow: none !important;
}
.ratingStar{
  font-size: 1rem !important;
  margin: 2.5px;
}
.cover_image{
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding-right: 20px;
  padding-bottom: 20px;
}
.cover_image label{
  background-color: rgba(255, 255, 255, 0.6);
}
.profile_image{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  border: 10px solid #ddd;
}
.profile_image_wrapper{
  position: absolute;
  top: 100%;
  left: 70px;
  transform: translateY(-25%);
}
.profile_image label{
  border-radius: 50%;
  border: 5px solid #fff;
  margin-bottom: 0;
}
.profile_header_wrapper{
  position: relative;
}
.post_share{
  width: 90%;
  background-color: #ddd;
  display: flex;
  margin: 0 auto;
  justify-content: space-evenly;
  text-align: center;
  border-radius: 5px;
  padding-top: 10px;
}
.info_wrapper{
  width: 100%;
  margin: 0 auto;
  background-color: #eee;
  padding: 20px;
  border-radius: 10px;
}
.post-comm{
  border: none;
  width: 100%;
  height: 100px;
  resize: none;
  color: grey;
}
.side_content{
  margin-top: 20px;
}

.items_list{
  list-style: none;
}
.phone_no_icon{
  color: #fb26e4;
  background-color: #efa4de;
  
}
.envalope_icon{
  color: #0f2b89;
  background-color: #b8c2e0;
}
.location_icon{
  color: #57b3a3;
  background-color: #c6f6f0;
}
.list_content i{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 1.2rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  transform: translateY(-12px);
}
.list_content .detail{
  display: inline-block;
}
.list_content .detail .heading_content{
  font-weight: 100;
  display: inline-block;
  font-size: 0.8rem;
  margin-top: 5px;
}
.my_courses .course{
  height: 320px;
}
.progress_bar{
  width: 100%;
  height: 5px;
  background-color: #ddd;
  border-radius: 10px;
  position: relative;
}
.add_course{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.2rem;
  color: #000;
}
.add_course:hover{
  color: #000;
}
.add_course i{
  font-size: 1.8rem;
}
.progress_bar::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #ff3000;
  width: calc(var(--i)* 1%);
}
.pagination_profile{
  background: none;
  border: none;
  font-size: 1.4rem;
  margin-right: 20px;
  display: inline-block;
  font-weight: 650;
  padding: 10px;
  position: relative;
  text-decoration: none;
  color: #000;
}
.pagination_profile:hover{
  text-decoration: none;
  color: #000;
}
.pagination_profile::after{
  content: "";
  position: absolute;
  transition: all 0.5s;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #ff3000;
}
.pagination_profile:hover::after{
  width: 80%;
}
.pagination_profile.page_active::after{
  width: 80% !important;
}
.education_icon{
  background-color: #ffc49c;
  color: #ff6f00;
}
.job_icon{
  background-color: #fa9c9c;
  color: #f41a1a;
}